.launch-page{margin-top: 70px;}
.navbar-brand{ color: #000000 !important;}
.navbar-collapse{ text-align: center; }
.add-top-margin{ margin-top: 70px; }
.panel-body div{ width: 100%; margin-bottom: 10px;}
.panel-body input{ width: 100% !important; }
.panel-footer{ text-align: center; }
.small{ width: 10% !important; }
.big{ width: 15% !important; }
.input-group{ width: 100%; }