<html lang="en" ng-app="zopCrud">
<head>
	<title>Pin Search</title>
	<!-- bower:css -->
	<link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.css" />
	<!-- endbower -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body ng-controller="crudUpdate">
	<div class="container-fluid">
		<div class="row">
			<!-- create -->
			<div class="col-md-6 col-md-offset-3">
				<form ng-submit="updateRecord()">
					<div class="panel panel-default">
						<div class="panel-heading">
							Update
						</div>
						<div class="panel-body">
			        		<input type="text" class="form-control" placeholder="Object Id" ng-model="oid" required><br>
			        		<input type="number" class="form-control" placeholder="Pincode" ng-model="pincode" required><br>
			        		<input type="text" class="form-control" placeholder="Office Name" ng-model="officeName"><br>
			        		<input type="text" class="form-control" placeholder="Office Type" ng-model="officeType"><br>
			        		<input type="text" class="form-control" placeholder="Delivery Status" ng-model="deliveryStatus"><br>
							<input type="text" class="form-control" placeholder="Division Name" ng-model="divisionName"><br>
							<input type="text" class="form-control" placeholder="Region Name" ng-model="regionName"><br>
							<input type="text" class="form-control" placeholder="Circle Name" ng-model="circleName"><br>
							<input type="text" class="form-control" placeholder="Taluk" ng-model="taluk"><br>
							<input type="text" class="form-control" placeholder="District Name" ng-model="districtName"><br>
							<input type="text" class="form-control" placeholder="State Name" ng-model="stateName"><br>
						</div>
						<div class="panel-footer">
			        		<button type="submit" class="btn btn-default">Update</button>
			        	</div>
					</div>
				</form>
			</div><!-- /.create -->
		</div>
	</div>
	<!-- bower:js -->
	<script src="../static/bower_components/jquery/dist/jquery.js"></script>
	<script src="../static/bower_components/angular/angular.js"></script>
	<script src="../static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbower -->
	<script src="../static/js/crud-update.js"></script>

</body>
</html>